.row
  .col-md-12.no-pad
    %h1.text-center.white.header CONTACT 
  .col-md-6.col-md-offset-3.no-pad
    %h1.text-center.white.big-line 
      %a.emphasis{ href: "mailto:peterbarnesphotography@gmail.com" } peterbarnesphotography@gmail.com
    %h1.text-center.white.big-line.bottom (402) 525-7677
    %h1.text-center.big-line
      %a.symbol.big-symbol{ href: "https://www.facebook.com/peterbarnesphotography", target: 'blank' } circlefacebook
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line 
      You can always 
      %span
        %a.emphasis{ href: '/contact' } contact
      me personally to discuss your project!
    %h3.text-center.white.big-line
      Please let me know about your project as far in advance as possible, this will ensure that I will be able to dedicate the necessary amount of time for your shoot!

    %h3.text-center.white.big-line Once we select a date and location for the shoot, we'll exchange contact information so we can keep in touch in the time leading up to the shoot!  Your information is 100% confidential with me. 

    %h3.text-center.white.big-line
      You can refer to my 
      %span
        %a.emphasis{ href: '/pricing' } pricing 
        page for sample prices, or 
      %span
        %a.emphasis{ href: '/pricing' } contact
      me to discuss quotes!

    %h3.text-center.white.big-line I take cash, credit, and check!

    %h3.text-center.white.big-line Once the shoot is completed and I have received payment, you will always get hi-res images delivered online.  

    %h3.text-center.white.big-line 
      I will not give out 
      %span
        %a.emphasis{ href: 'http://en.wikipedia.org/wiki/Raw_image_format', target: 'blank' } RAW
      images

  .col-md-12.no-pad
    %h1.text-center.white.header EVENTS 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line 
      If there is an admission fee to your event, you will be responsible for covering it!

  .col-md-12.no-pad
    %h1.text-center.white.header PORTRAITS 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line 
      The location, outfits, theme, and length of time will determine the 
      %span
        %a.emphasis{ href: '/pricing' } pricing 
      of the shoot.
      

  .col-md-12.no-pad
    %h1.text-center.white.header SENIOR PORTRAITS  
  .col-md-6.col-md-offset-3.no-pad.bottom
    %h3.text-center.white.big-line Your last year of high school is an important one, and seniors have a lot on their mind!  
    %h3.text-center.white.big-line My goal with your senior portraits is to make it as easy and simple as possible! 
    %h3.text-center.white.big-line I offer specific packages that are seperate from my general portrait packages
    %h3.text-center.white.big-line 
      Please head over to my 
      %span
        %a.emphasis{ href: '/pricing' } pricing
      page to see what I offer!