.row
  .col-md-12.no-pad
    %h1.text-center.white.header CONTACT 
  .col-md-6.col-md-offset-3.no-pad
    %h1.text-center.white.big-line 
      %a.emphasis{ href: "mailto:peterbarnesphotography@gmail.com" } peterbarnesphotography@gmail.com
    %h1.text-center.white.big-line.bottom (402) 525-7677
    %h1.text-center.big-line
      %a.symbol.big-symbol{ href: "https://www.facebook.com/peterbarnesphotography", target: 'blank' } circlefacebook