.row
  .col-md-12.no-pad
    %h1.text-center.white.header EVENTS 
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17640291980', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c4.staticflickr.com/8/7703/17640291980_fd241bc720_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17801543936', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8848/17801543936_f65d7ecd02_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17640305570', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c4.staticflickr.com/8/7795/17640305570_044eec6b96_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17207496233', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/6/5321/17207496233_3aef71289b_b.jpg', width: '100%' }

  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16625230244', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7688/16625230244_607a32037b_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17028617049', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/6/5339/17028617049_6a60d10b7f_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16526394973', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8745/16526394973_35895bf203_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16756960602', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7622/16756960602_ce3b991044_b.jpg', width: '100%' }

  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17207528363', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8814/17207528363_3943c889c8_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17635574700', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7778/17635574700_6ee96ab65c_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17820319502', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7706/17820319502_9bc18f7816_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17823600501', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/6/5445/17823600501_e9057890a4_b.jpg', width: '100%' }

  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17637105038', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/6/5332/17637105038_70cfd8daac_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17204578453', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/6/5334/17204578453_23e6ab8434_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17822130822', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/6/5443/17822130822_c871d6ec32_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17637110508', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8780/17637110508_d6d463c723_b.jpg', width: '100%' }

  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17823543811', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8758/17823543811_dbcf267278_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17202696603', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8810/17202696603_bcc1ef63d2_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17199707174', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/6/5446/17199707174_1f16d0e6f6_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17634618990', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/6/5348/17634618990_42525c4b92_b.jpg', width: '100%' }

  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17525269355', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7703/17525269355_8438c002f1_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17525048921', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8708/17525048921_644d939bc6_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17285171135', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7698/17285171135_53202a20f4_b.jpg', width: '100%' }
  .col-md-3.bottom
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17097290920', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7699/17097290920_c380c78b6a_b.jpg', width: '100%' }

