.row
  .col-md-12
    %h1.text-center.white THIS SITE IS NO LONGER IN USE
    %h1.text-center.white PLEASE NAVIGATE TO
    %h1.text-center
      %a{ href: 'http://www.intrepidvisuals.com' } INTREPID VISUALS


