.row
  .col-md-12.no-pad
    %h1.text-center.white.header LANDSCAPE 
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17249033382', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8746/17249033382_56c15a05b6_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16646773730', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8621/16646773730_4a01de3b43_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16760468852', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8702/16760468852_a712efae5e_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16244215407', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7379/16244215407_56eb9110b2_b.jpg', width: '100%' }

  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/15807631314', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8681/15807631314_8236db350f_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16242830520', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8574/16242830520_c337e31e78_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16347872359', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7339/16347872359_9b4a3e210b_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16534230615', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7288/16534230615_55d759178c_b.jpg', width: '100%' }

  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16573986318', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7641/16573986318_975c963885_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/15729271884', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8570/15729271884_d987f4f48d_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/15731842693', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7441/15731842693_b5a958b7af_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/15729402994', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7496/15729402994_f3499ca8eb_b.jpg', width: '100%' }

  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16126162878', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7462/16126162878_c4542e26d4_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16287829686', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7482/16287829686_0c819440e7_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/15810182243', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7290/15810182243_4329da7bc8_b.jpg', width: '100%' }
  .col-md-3.bottom
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/16250808527', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/8/7399/16250808527_748bbbb978_b.jpg', width: '100%' }

