.row
  .col-md-12.no-pad
    %h1.text-center.white.header - PORTRAITURE -
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17249033382', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8746/17249033382_56c15a05b6_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17801543936', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c1.staticflickr.com/9/8848/17801543936_f65d7ecd02_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17640305570', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c4.staticflickr.com/8/7795/17640305570_044eec6b96_b.jpg', width: '100%' }
  .col-md-3
    %a{ href: 'https://www.flickr.com/photos/130397051@N05/17207496233', target: 'blank' }
      %img.img-responsive.center-block{ src: 'https://c2.staticflickr.com/6/5321/17207496233_3aef71289b_b.jpg', width: '100%' }