.row
  .col-md-12.no-pad
    %h1.text-center.white.header PRICING 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line Pricing is ALWAYS customized for your specific project
    %h3.text-center.white.big-line
      %span
        %a.emphasis{ href: '/contact' } Contact
      me to discuss your project, and we will work out a fair price!
    %h3.text-center.white.big-line Below are some sample prices!

  .col-md-12.no-pad
    %h1.text-center.white.header BANDS
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line Coverage of your setlist < 1 hr: $100
    %h3.text-center.white.big-line + 1 hr: + $25
    %h3.text-center.white.big-line Promotional Photo Shoot (Promos) < 1 hr: $100  
    %h3.text-center.white.big-line + 1 hr: + $25
    %h3.text-center.white.big-line Promos (1 hr) & Setlist Package: $175

  .col-md-12.no-pad
    %h1.text-center.white.header PORTRAITS 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line 1 hour & 1 location: $100
    %h3.text-center.white.big-line + 1 hour: + $25
    %h3.text-center.white.big-line + 1 location: + $25

  .col-md-12.no-pad
    %h1.text-center.white.header SENIORS
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line 
      Head over to 
      %a.emphasis{ href: '/seniors' } 2016 Seniors
      to learn about my Senior Portrait Packages!
    