.row
  .col-md-12.no-pad
    %h1.text-center.white.header - PRICING - 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line Pricing is ALWAYS customized for your specific project
    %h3.text-center.white.big-line
      Please
      %span
        %a.emphasis{ href: '/contact' } contact
      me to discuss a personalized quote, I'm always willing to work with you on prices! 
    %h3.text-center.white.big-line However, below I have listed some ballpark prices, along with the different packages that I offer!
    %h3.text-center.white.big-line 
      As stated in
      %span
        %a.emphasis{ href: '/theprocess' } the process
        , you will always receive hi-res images online free of charge

  .col-md-12.no-pad
    %h1.text-center.white.header - BANDS -
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line Coverage of your setlist < 1 hr: $100
    %h3.text-center.white.big-line Coverage of your setlist > 1 hr: $125
    %h3.text-center.white.big-line Promotional Photo Shoot (Promos): $100  
    %h3.text-center.white.big-line Promos & Setlist Package: $175
    %h3.text-center.white.big-line Prints: + $25 

  .col-md-12.no-pad
    %h1.text-center.white.header - PORTRAITS & SENIOR PORTRAITS - 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line 1 hour & 1 location Package: $100
    %h3.text-center.white.big-line +1 hour: + $25
    %h3.text-center.white.big-line +1 location: + $25
    %h3.text-center.white.big-line If I decide theme (if applicable): + $50
    %h3.text-center.white.big-line If I decide location(s): + $25
    %h3.text-center.white.big-line If I decide outfit(s): + $50
    %h3.text-center.white.big-line Prints: $25

  .col-md-12.no-pad
    %h1.text-center.white.header - SENIOR PORTRAIT ADD-ONS - 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line Since senior portraits have a common purpose, I offer additional services beyond general portraits to make the experience as easy as possible!
    %h3.text-center.white.big-line Formatting image to the standard 2"x3" size: FREE
    %h3.text-center.white.big-line Framed print of your selected image: $60
    %h3.text-center.white.big-line Submitting your photo to the school so you don't have to: $25
    %h3.text-center.white.big-line 
      I want this to not only be a great experience, but also an incredibly easy one for you!  Because of this, I offer the 
      %br
      %span.blue ULTIMATE SENIOR PORTRAITS PACKAGE

  .col-md-12.no-pad
    %h1.text-center.white.header2 - ULIMATE SENIOR PORTRAITS PACKAGE - 
    %h2.text-center.white.subheader (I do all of the thinking for you!)

  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line 1 Hour Shoot
    %h3.text-center.white.big-line 1 Location
    %h3.text-center.white.big-line I will decide theme, location, & outfit style! (ex: Casual, Formal etc.)
    %h3.text-center.white.big-line You will receive all of the hi-res images and decide on which one you would like to have submitted!
    %h3.text-center.white.big-line FREE framed print of your selected image 
    %h3.text-center.white.big-line I will format your selected image to the standard 2"x3" size
    %h3.text-center.white.big-line I will submit your photo to your school for you! (That means you don't have to!)
    %h1.text-center.white.big-line $250
  .col-md-12.no-pad
    %h1.text-center.white.header 
      %a.emphasis{ href: '/contact' } Book your shoot today!