.row
  .col-md-12.no-pad
    %h1.text-center.white.header PRICING 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line Pricing is ALWAYS customized for your specific project
    %h3.text-center.white.big-line
      %span
        %a.emphasis{ href: '/contact' } Contact
      me to discuss a personalized quote, I'm always willing to work with you on prices! 
    %h3.text-center.white.big-line I have listed some sample prices, along with different packages I offer!
    %h3.text-center.white.big-line 
      As stated in
      %span
        %a.emphasis{ href: '/theprocess' } the process
        , you will always receive hi-res images online free of charge

  .col-md-12.no-pad
    %h1.text-center.white.header BANDS
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line Coverage of your setlist < 1 hr: $100
    %h3.text-center.white.big-line + 1 hr: + $25
    %h3.text-center.white.big-line Promotional Photo Shoot (Promos) < 1 hr: $100  
    %h3.text-center.white.big-line + 1 hr: + $25
    %h3.text-center.white.big-line Promos (1 hr) & Setlist Package: $175

  .col-md-12.no-pad
    %h1.text-center.white.header PORTRAITS 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line 1 hour & 1 location: $100
    %h3.text-center.white.big-line + 1 hour: + $25
    %h3.text-center.white.big-line + 1 location: + $25

  .col-md-12.no-pad
    %h1.text-center.white.header2 ULIMATE SENIOR PORTRAITS PACKAGE 
    %h2.text-center.white.subheader (I do all of the thinking for you!)

  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line 1 Hour Shoot
    %h3.text-center.white.big-line 1 Location
    %h3.text-center.white.big-line I will assist with theme, location, & outfit style! (ex: Casual, Formal etc.)
    %h3.text-center.white.big-line You will receive all of the hi-res images and decide on which one you would like to have submitted!
    %h3.text-center.white.big-line FREE framed print of your selected image 
    %h3.text-center.white.big-line I will format your selected image to the standard 2"x3" size
    %h3.text-center.white.big-line I will submit your photo to your school for you! (That means you don't have to!)
    %h1.text-center.white.big-line Starting at $200
  .col-md-12.no-pad
    %h1.text-center.white.header 
      %a.emphasis{ href: '/contact' } BOOK YOUR SHOOT TODAY!