.row
  .col-md-6.col-md-offset-3.no-pad
    %h1.text-center.white.header.thick-line You're on your last year of highschool. Pretty exciting right?
    %h1.text-center.white.header.thick-line You've also got a lot to think about during your last year, senior portraits being one of them!
    %h1.text-center.white.header.thick-line I want to give you the highest quality images for your final year, and make it as simple as possible.
    %h3.text-center.white.header.thick-line A pre-shoot consultation is included in every package via phone, email, Facebook, or in person.  
    %h3.text-center.white.header.thick-line 
      A
      %a.emphasis{ href: '#modelrelease' } model release
      is required for all senior portrait shoots
  .col-md-6.col-md-offset-3.no-pad
    %h1.white
      Simple Senior Portraits Package
      %span.blue $75
    %hr
    .package-pad
      %h3.white - Up to 1 hour of shooting 
      %h3.white - 1 Location
      %h3.white - Unlimited outfits
      %h3.white - Digital files of every image for sharing
    %h1.white
      Basic Senior Portraits Package
      %span.blue $100
    %hr
    .package-pad
      %h3.white - Up to 2 hours of shooting
      %h3.white - 3 locations
      %h3.white - Unlimited outfits
      %h3.white - Digital files of every image for sharing
      %h3.white - CD or USB Drive with high-resolution images for print only
      %h3.white - I submit your selected image to your school for you
      %h3.white.bottom 
        \ - Print release
        %a.emphasis{ href: '#printrelease' } ?
    %h1.white
      Super Senior Portraits Package
      %span.blue $150
    %hr
    .package-pad
      %h3.white - Up to 3 hours of shooting
      %h3.white - 3 locations
      %h3.white - Unlimited outfits
      %h3.white - Digital files of every image for sharing
      %h3.white - CD or USB Drive with high-resolution images for print only
      %h3.white - 5 FREE 8x10 prints of your choosing
      %h3.white - I submit your image to your school for you
      %h3.white.bottom 
        \ - Print release
        %a.emphasis{ href: '#printrelease' } ?
    %h1.white 
      Ultimate Senior Portraits Package
      %span.blue $200
    %hr
    .package-pad
      %h3.white - Up to 4 hours of shooting
      %h3.white - Unlimited locations
      %h3.white - Unlimited outfits
      %h3.white - Digital files of every image for sharing
      %h3.white - CD or USB Drive with high-resolution images for print only
      %h3.white - 5 FREE 8x10 prints of your choosing
      %h3.white - 1 FREE framed print of your selected image (8x10)
      %h3.white - I submit your image to your school for you
      %h3.white.bottom 
        \ - Print release
        %a.emphasis{ href: '#printrelease' } ?
    %h1.white Extras
    %hr
    .package-pad
      %h3.white 
        \ - Extra hour of shooting
        %span.blue $20
      %h3.white 
        \ - Die cut wallets x4
        %span.blue $2 per set
      %h3.white 
        \ - 5x5 Print
        %span.blue $5 per
      %h3.white 
        \ - 8x10 Print
        %span.blue $10 per
      %h3.white 
        \ - 10x10 Print
        %span.blue $15 per
      %h3.white 
        \ - 16x20 Print
        %span.blue $30 per
      %h3.white 
        \ - 20x24 Print
        %span.blue $60 per
      %h3.white
        \ Other sizes available upon request!
      %h3.white
        \ - Add framing to any print size (exlcuding wallets)
        %span.blue +$40
      %h3.white
        \ - 12x9 custom hardcover photo book
        %span.blue $100
      %h3.white.bottom
        \ Photo orders are non-refundable
    #printrelease.top.bottom
      %h2.white What's a print release?
      %h3.white.thick-line
        A print release is permission from the photographer to print the images provided. I recommend using 
        %a.emphasis{ href: 'http://www.mpix.com', target: 'blank' } MPIX
        for printing, their products are of much higher quality than Walgreens or Walmart.
      %h3.white.thick-line
        A print release is NOT a copyright release, it does not include the rights to sell the images or alter them etc. That right remains with the photographer.
    #modelrelease.top-bottom
      %h2.white What's a model release?
      %h3.white.thick-line
        A model release is a legal release typically signed by the subject of a photograph granting permission to publish the photograph in one form or another. 
      %h3.white.thick-line
        A model release is required for every portrait shoot, if you are under the age of 18, a parent or legal guardian must sign for you. 
      %h3.white.thick-line
        %a.emphasis{ href: '/model_release.pdf', target: 'blank', download: 'model_release' } Model Release Form
      %h3.white.thick-line.bottom
        %a.emphasis{ href: '/model_release_minor.pdf', target: 'blank', download: 'model_release_minor' } Model Release Form for minors


