.row
  .col-md-12.no-pad
    %h1.text-center.white.header THE PROCESS
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white I like to keep things simple. 
    %h3.text-center.white Photoshoots with me are very simple to set up!

  .col-md-12.no-pad
    %h1.text-center.white.header WHAT'S THE SAME?
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white There are a few things that are the same across all of my shoots
    %h3.text-center.white 
      No matter what kind of shoot you want to plan, you can always 
      %span
        %a.emphasis{ href: '/contact' } contact
      me personally and discuss details specific to your project!

    %h3.text-center.white If the shoot is at a far away location, the cost of travel will be added to the cost of the shoot!

    %h3.text-center.white Once we select a date and location for the shoot, we will exchange contact information so we can keep in touch in the time leading up to the shoot! 

    %h3.text-center.white
      %span
        %a.emphasis{ href: '/pricing' } Pricing
      is always determined for the specific project.  You can refer to my 
      %span
        %a.emphasis{ href: '/pricing' } pricing 
        page for ball park numbers, or 
      %span
        %a.emphasis{ href: '/pricing' } contact
      me to discuss quotes!

    %h3.text-center.white I take cash, credit, and check!

    %h3.text-center.white Once the shoot is booked and the price is decided, I prefer to receive the payment at the beginning of the shoot, but I can make arrangements if necessary!

    %h3.text-center.white Once the shoot is completed and I have received payment, you will always get hi-res images delivered online.  I do offer prints for an additional charge!

    %h3.text-center.white 
      I will not give out 
      %span
        %a.emphasis{ href: 'http://en.wikipedia.org/wiki/Raw_image_format', target: 'blank' } RAW
      images

  .col-md-12.no-pad
    %h1.text-center.white.header EVENTS
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white When booking an event shoot, let me know as far in advance as possible.  This gives me enough time to make sure that my schedule is clear and that I can allocate the most time for your shoot!

    %h3.text-center.white Try your best to make sure that I do not have to pay an admission fee to whatever event you are having me shoot.  I understand that it is not always possible; if this is the case, the cost of admission will be added to the total cost of the project! 