.row
  .col-md-12.no-pad
    %h1.text-center.white.header THE PROCESS 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line I like to keep things simple. 
    %h3.text-center.white.big-line Photoshoots with me are very simple to set up!

  .col-md-12.no-pad
    %h1.text-center.white.header WHAT'S THE SAME? 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line There are a few things that are the same across all of my shoots
    %h3.text-center.white.big-line 
      No matter what kind of shoot you want to plan, you can always 
      %span
        %a.emphasis{ href: '/contact' } contact
      me personally and discuss details specific to your project!
    %h3.text-center.white.big-line
      Please let me know about your project as far in advance as possible, this will ensure that I will be able to dedicate the necessary amount of time for your shoot!

    %h3.text-center.white.big-line If the shoot is at a far away location, the cost of travel will be added to the cost of the shoot!

    %h3.text-center.white.big-line Once we select a date and location for the shoot, we will exchange contact information so we can keep in touch in the time leading up to the shoot!  Your information is 100% confidential with me. 

    %h3.text-center.white.big-line
      %span
        %a.emphasis{ href: '/pricing' } Pricing
      is always determined for the specific project.  You can refer to my 
      %span
        %a.emphasis{ href: '/pricing' } pricing 
        page for ball park numbers, or 
      %span
        %a.emphasis{ href: '/pricing' } contact
      me to discuss quotes!

    %h3.text-center.white.big-line I take cash, credit, and check!

    %h3.text-center.white.big-line Once the shoot is booked and the price is decided, I prefer to receive the payment at the beginning of the shoot, but I can make arrangements if necessary!

    %h3.text-center.white.big-line Once the shoot is completed and I have received payment, you will get hi-res images delivered online.  I do offer prints in some of my packages!

    %h3.text-center.white.big-line 
      I will not give out 
      %span
        %a.emphasis{ href: 'http://en.wikipedia.org/wiki/Raw_image_format', target: 'blank' } RAW
      images

  .col-md-12.no-pad
    %h1.text-center.white.header EVENTS 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line 
      Try your best to make sure that I do not have to pay an admission fee to whatever event you are having me shoot.  I understand that it is not always possible; if this is the case, the cost of admission will be added to the  
      %span
        %a{ href: '/pricing' } pricing 
      of the project! 

  .col-md-12.no-pad
    %h1.text-center.white.header PORTRAITS 
  .col-md-6.col-md-offset-3.no-pad
    %h3.text-center.white.big-line With portrait shoots, we will need to decide how many responsiblities fall on who.  
    %h3.text-center.white.big-line These responsibilities include deciding location, outfits, theme etc.  
    %h3.text-center.white.big-line 
      These responsibilities will determine the cost of the shoot, head over to my
      %span
        %a.emphasis{ href: '/pricing' } pricing
      page for ballpark numbers!

  .col-md-12.no-pad
    %h1.text-center.white.header SENIOR PORTRAITS  
  .col-md-6.col-md-offset-3.no-pad.bottom
    %h3.text-center.white.big-line Your last year of high school is an important one, and seniors have a lot on their mind!  
    %h3.text-center.white.big-line My goal with your senior portraits is to make it as easy and simple as possible! 
    %h3.text-center.white.big-line Since senior portraits have a common purpose, I offer specific packages that are seperate from my general portrait packages
    %h3.text-center.white.big-line 
      Please head over to my 
      %span
        %a.emphasis{ href: '/pricing' } pricing
      page to see what I offer!