// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// VARIABLES

$bg: #2E2E2E;
$navbar: #2E2E2E; 
$blue: #3498db;

// END VARIABLES

a {
  color: $blue;
  text-decoration: none !important;
  transition: color 175ms ease-out;
  &:hover {
    color: white;
    text-decoration: none !important;
  }
}

.wrapper {
  background-color: $bg;
  min-height: 100% !important;
  margin: 0 auto -54px;
}

.PBPnavbar {
  min-height: 125px !important;
  background-color: $navbar;
  h3 {
    margin: 0px;
    padding: 0px;
    line-height: 100px;
    color: white !important;
  }
  .PBPbrand {
    margin-bottom: 35px !important;
    margin-top: 35px !important;
    a {
      color: white;
      .blue {
        color: $blue;
        transition: color 400ms ease-out;
      }
      &:hover {
        text-decoration: none;
        color: $blue !important;
        .blue {
          color: white !important;
        }
      }
      transition: color 400ms ease-out;
    }
  }
  .navlink {
    color: white;
    transition: color 175ms ease-out;
    &:hover {
      text-decoration: none;
      color: $blue;
    }
    font-size: 22px !important;
  }
  .header-top {
    border-bottom: 1px solid white;
  }
  .emphasis {
    color: $blue !important;
    transition: color 175ms ease-out;
    &:hover {
      text-decoration: none !important;
      color: white !important;
    }
  }
}

.footer, .push {
  bottom: 0px !important;
  height: 54px;
}

.footer {
  position: fixed;
  width: 100% !important;
  background-color: $navbar;
  padding-top: 5px;
  .soc-links {
    letter-spacing: 25px;
    text-align: center;
    margin: 0px !important;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
}

.pad-for-footer {
  margin-bottom: 54px;
}

.no-pad {
  padding: 0px;
}

.big-link {
  color: white;
  &:hover {
    color: $blue;
  }
  transition: color 500ms ease-out;
}

.events {
  background-image: url('/eventsbg.jpg');
  height: 478px !important;
  h1 {
    line-height: 438px;
  }
  margin-bottom: 54px;
}

.landscape {
  background-image: url('/landscapebg.jpg');
  height: 478px !important;
  h1 {
    line-height: 438px;
  }
  margin-bottom: 54px;
}

.portraiture {
  background-image: url('/portraiturebg.jpg');
  height: 478px !important;
  h1 {
    line-height: 438px;
  }
  margin-bottom: 54px;
}

.about {
  h3 {
    color: white;
  }
}

.thick-line {
  line-height: 40px;
}

.bottom {
  margin-bottom: 54px;
}

.white {
  color: white;
}

.header {
  margin: 0px !important;
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.header2 {
  margin: 0px !important;
  margin-top: 45px !important;
  margin-bottom: 10px !important;
}

.subheader {
  margin: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 45px !important;
  color: darken(white, 25%) !important;
}

.big-line {
  line-height: 35px;
}

.blue {
  color: $blue !important;
}

.big-symbol {
  font-size: 100px !important;
}

@media all and (max-width: 990px) {
  .PBPnavbar {
    h3, a {
      line-height: 35px !important;
    }
    .first {
      margin-top: 20px !important;
    }
  }
  .footer, .push {
    height: 70px !important;
  }

  .footer {
    .soc-links {
      letter-spacing: 25px !important;
      font-size: 30px;
      .symbol {
        font-size: 40px;
      }
    }
  }
  .no-pad {
    padding: 10px;
  }
}
