.push
.footer.clearfix
  .container-fluid.clearfix
    .container
      .row
        .col-md-12.col-xs-12.clearfix
          %p.soc-links.text-center
            %a.symbol{ href: 'https://www.facebook.com/peterbarnesphotography', target: 'blank' } circlefacebook
            %a.symbol{ href: 'https://www.flickr.com/photos/130397051@N05/', target: 'blank' } circleflickr
            %a.symbol{ href: 'http://instagram.com/peterbarnesphotography/', target: 'blank' } circleinstagram
            %a.symbol{ href: 'https://twitter.com/pcb213', target: 'blank' } circletwitterbird
            %a.symbol{ href: "mailto:peterbarnesphotography@gmail.com" } circleemail
          
          