.PBPnavbar
  .container
    .col-md-12.header-top
      %h1.text-center.PBPbrand 
        %a{ href: '/' }
          PETER BARNES
          %span.blue PHOTOGRAPHY
    .col-md-2
      %h3.text-center 
        %a.navlink{ href: '/events' } EVENTS
    .col-md-2
      %h3.text-center 
        %a.navlink{ href: '/landscape' } LANDSCAPE
    .col-md-2
      %h3.text-center 
        %a.navlink{ href: '/portraiture' } PORTRAITURE
    .col-md-2
      %h3.text-center 
        %a.navlink{ href: '/theprocess' } THE PROCESS
    .col-md-2
      %h3.text-center 
        %a.navlink{ href: '/pricing' } PRICING
    .col-md-2
      %h3.text-center 
        %a.navlink.emphasis{ href: '/contact' } CONTACT