.PBPnavbar
  .container
    .col-md-12.header-top
      %h1.text-center.PBPbrand 
        %a{ href: '/' }
          PETER BARNES
          %span.blue PHOTOGRAPHY
    .col-md-2
      %h3.text-center 
        %a.navlink{ href: '/landscape' } landscape
    .col-md-2
      %h3.text-center 
        %a.navlink{ href: '/events' } events
    .col-md-2
      %h3.text-center 
        %a.navlink{ href: '/portraiture' } portraiture
    .col-md-2
      %h3.text-center 
        %a.navlink{ href: '/theprocess' } the process
    .col-md-2
      %h3.text-center 
        %a.navlink{ href: '/pricing' } pricing
    .col-md-2
      %h3.text-center 
        %a.navlink.emphasis{ href: '/contact' } contact